:root{
    --bg: rgb(0,0,0);
    --bg-turn: rgb(23,20,23);
    --bg-main: rgb(13, 13, 13);
    --bar-w: 10vw;
    --border-box: rgb(38, 38, 41);
    --bg-box: rgb(50, 50, 52);

    --theme-main-bright: rgb(255, 0, 255);
    --theme-main-light: rgb(187, 105, 187);
    --theme-main: rgb(168, 38, 168);
    --theme-main-dark-bit: rgb(96, 23, 96);
    --theme-main-dark: rgb(75, 16, 75);
    --theme-main-dark-er: rgb(22, 6, 22);

    --text-white: rgb(169, 169, 169);
    --link: var(--theme-main-bright);

    --pn-border-color: rgb(159, 0, 95);
    --pn-border-tx-color: rgb(190,190,190);
    --pn-border-pm: 4px;
    --pn-border: 2px;

    --pn-border-bg-color: var(--theme-main-dark);

}